[Unit]
Description=CVAT service with docker compose
Requires=docker.service
After=docker.service

[Service]
User=$USER
Type=simple
RemainAfterExit=true
WorkingDirectory=$HOME/cvat
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
Environment="CVAT_HOST=0.0.0.0"

[Install]
WantedBy=multi-user.target
